.App{
  min-height: 100vh;
  background-color: rgba(196, 93, 161, 0.616);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
  background: rgb(210, 240, 240);
  border-radius: none;
  padding: 10px 20px;
  border: 20px;
  color: rgb(255, 0, 0);
  cursor: pointer;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}